{% extends "bootstrap/base.html" %}
{% block html_attribs %} lang="en"{% endblock %}

{% block title %}Research Story{% endblock %}

{% block navbar %}
<div class="navbar navbar-fixed-top">
  <!-- ... -->
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12" style="margin-top: 2em;">
            <h1 class="header">Research Story</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <button type="button" id="add_row_button" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-plus"></span> Add row</button>
            <hr/>
            <ul id="story" class="connected list handles list-group">
                <li draggable="true" class='panel panel-info'>
                    <div class="panel-heading"><span class="handle">::</span> Storyline</div>
                    <div class="panel-body">Drag story parts to this column</div>
                </li>
            </ul>
        </div>
        <div class="col-md-4" id="sources">
            <div class="row">
                <div class="col-md-12">
                    <h4>Type the URL of the Web resource you want to include</h4>
                    <div class="form-group">
                        <label class="sr-only" for="url">Web address</label>
                        <input type="text" class="form-control" id="url" placeholder="Enter web address">
                    </div>
                    <ul id="previews" class="connected list handles list-group">
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}

{% block styles %}
    {{ super() }}
    <link href="{{ url_for('.static', filename='css/bootstrap.min.css') }}" rel="stylesheet"></link>
    <link href="{{ url_for('.static', filename='css/jquery.urlive.css') }}" rel="stylesheet"></link>
    <link href="{{ url_for('.static', filename='css/codemirror.css') }}" rel="stylesheet"></link>
    <link href="{{ url_for('.static', filename='css/style.css') }}" rel="stylesheet"></link>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <script type="text/javascript" src="{{ url_for('.static', filename='js/jquery.sortable.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('.static', filename='js/codemirror.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('.static', filename='js/turtle.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('.static', filename='js/uuid.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('.static', filename='js/markdown.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('.static', filename='js/jquery.urlive.js') }}"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
    <script type="text/javascript" src="{{ url_for('.static', filename='js/sockets.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('.static', filename='js/main.js') }}"></script>

{% endblock %}